.container{
    text-align: center;
}
input:-webkit-autofill{
    -webkit-box-shadow:0px 0px 0px 100px white inset;
}
.login{
    margin-top: 100px;
}
.login div input {
    background-color: aquamarine;
    height: 25px;
    border: 2px solid lightgray;
}
.login label {
    width:80px;
    margin-right: 4px;
}